.main-time-up-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.time-up-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 50px;
  box-shadow: 5px 5px 5px 5px #7b879429;
  border-radius: 10px;
}

.time-up-image {
  width: 100%;
  max-width: 350px;
}

.time-up-heading {
  font-size: 28px;
  font-family: 'Roboto';
  font-weight: bold;
  color: #334155;
  margin: 10px 0;
}

.time-up-description {
  font-size: 14px;
  font-family: 'Roboto';
  color: #64748b;
}

.time-up-score-container {
  display: flex;
  align-items: center;
  margin: 0 0 10px 0;
}

.time-up-score-title {
  font-size: 24px;
  font-family: 'Roboto';
  color: #164687;
  margin: 0;
}

.time-up-score {
  font-size: 36px;
  font-family: 'Roboto';
  color: #044682;
  margin: 0;
}

.time-up-button {
  font-size: 14px;
  font-family: 'Roboto';
  background-color: #164687;
  border: none;
  outline: none;
  border-radius: 8px;
  color: #ffffff;
  padding: 10px 30px;
  cursor: pointer;
}
