.main-result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 50px;
  box-shadow: 5px 5px 5px 5px #7b879429;
  border-radius: 10px;
}

.result-image {
  width: 100%;
  max-width: 350px;
}

.result-title-container {
  display: flex;
}

.result-title {
  font-size: 24px;
  font-family: 'Roboto';
  color: #334155;
}

.result-time-container {
  display: flex;
  align-items: center;
}

.result-time-title {
  font-size: 24px;
  font-family: 'Roboto';
  color: #334155;
  margin: 5px 0;
}

.result-time {
  font-size: 28px;
  font-family: 'Roboto';
  color: #164687;
  margin: 5px 0;
  margin-left: 10px;
}

.result-score-container {
  display: flex;
  align-items: center;
}

.result-score-title {
  font-size: 28px;
  font-family: 'Roboto';
  font-weight: bold;
  color: #164687;
  margin: 5px 0;
}

.result-score {
  font-size: 52px;
  font-family: 'Roboto';
  font-weight: bold;
  color: #044682;
  margin: 20px 0;
  margin-left: 15px;
}

.result-button {
  font-size: 14px;
  font-family: 'Roboto';
  background-color: #164687;
  border: none;
  outline: none;
  border-radius: 8px;
  color: #ffffff;
  padding: 10px 30px;
  cursor: pointer;
}
