.loader-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.main-assessment-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  min-height: 70vh;
}

@media screen and (min-width: 768px) {
  .main-assessment-container {
    flex-direction: row;
    padding: 15px;
  }
}

.assessment-side-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 5px 5px 5px 5px #dae4fa80;
  padding-bottom: 40px;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .assessment-side-container {
    min-width: 40%;
    width: 450px;
    order: 2;
    padding-left: 10px;
  }
}

.assessment-time-question-number-container {
  border-radius: 10px;
  padding: 10px 0;
}

.time-container {
  background-color: #475987;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
}

.time-title {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 24px;
  margin: 0;
}

.display-time {
  color: #f8fafc;
  font-size: 24px;
  font-family: 'Roboto';
}

.answer-details-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.answered-questions {
  display: flex;
  align-items: center;
}

.answer-score-container {
  background-color: #7c599f;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer-score {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 18px;
}

.answer-title {
  color: #496387;
  font-size: 18px;
  font-family: 'Roboto';
  margin-left: 20px;
}

.un-answered-questions {
  display: flex;
  align-items: center;
}

.un-answer-score-container {
  background-color: transparent;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cbd5e1;
}

.un-answer-score {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 18px;
}

.un-answer-title {
  color: #496387;
  font-size: 18px;
  font-family: 'Roboto';
  margin-left: 20px;
}

.horizontal-line {
  border: 1px solid #e2e8f0;
  width: 100%;
}

.question-topic {
  font-size: 24px;
  font-family: 'Roboto';
  color: #164687;
}

.questions-list-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
}

.questions-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  margin-bottom: 30px;
  border-radius: 3px;
}

.questions-number-button {
  cursor: no-drop;
  background-color: transparent;
  border: none;
  outline: none;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 400;
}

.questions-number-status {
  cursor: pointer;
}

.initial-status {
  border: 1px solid #e2e8f0;
  color: #64748b;
  background-color: #fafbfe;
}

.answered-status {
  border: 1px solid #7c599f;
  color: #64748b;
  background-color: #7c599f26;
}

.progress-status {
  border: 1px solid #60a5fa;
  color: #64748b;
  background-color: #eff6ff;
}

.submit-button-container {
  display: flex;
  justify-content: center;
}

.submit-assessment-button {
  font-size: 16px;
  font-family: 'Roboto';
  padding: 10px 20px;
  border: 1px solid #164687;
  border-radius: 10px;
  background-color: transparent;
  color: #164687;
  cursor: pointer;
  width: 400px;
  max-width: 70%;
}

.question-and-answer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 30px 40px;
  box-shadow: 5px 5px 5px 5px #dae4fa80;
  margin-top: 10px;
  border-radius: 10px;
  min-height: 70vh;
}

@media screen and (min-width: 768px) {
  .question-and-answer-container {
    order: 1;
    width: 100%;
  }
}

.question-choice-container {
  display: flex;
  flex-direction: column;
}

.question-number-and-text-container {
  display: flex;
  align-items: center;
}

.question-number {
  color: #164687;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 500;
  align-self: flex-start;
  margin-top: 2px;
}

.question-text {
  color: #164687;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 500;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-top: 0;
  line-height: 1.5;
}

.question-hr-line {
  border: 1px solid #9797973f;
  width: 100%;
}

.question-default-container {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.question-default-item {
  margin-bottom: 20px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .question-default-item {
    width: 46%;
    margin-right: 20px;
  }
}

.question-and-answer-default-button {
  padding: 15px 20px;
  width: 100%;
  border-radius: 6px;
  outline: none;
  border: none;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 400;
  background-color: #ebf3ff;
  color: #334155;
  cursor: pointer;
  text-align: left;
}

.active-default-button {
  background-color: #5b6f94;
  color: #f8fafc;
}

.question-image-container {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.question-image-item {
  margin-bottom: 20px;
  width: 80%;
}

@media screen and (min-width: 576px) {
  .question-image-item {
    width: 46%;
    margin-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .question-image-item {
    width: 46%;
    margin-right: 20px;
  }
}

.question-and-answer-image-button {
  width: 100%;
  border-radius: 6px;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.active-image-button {
  border: 2px solid #263868;
  border-radius: 4px;
}

.question-button-image {
  width: 100%;
}

.question-select-container {
  width: 300px;
  padding: 10px 15px;
  font-size: 16px;
  font-family: 'Roboto';
  border-radius: 6px;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

.question-select-hint-container {
  align-self: flex-end;
  background-color: #fef3c7;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.question-select-hint-image {
  width: 40px;
  height: 40px;
}

.question-select-hint {
  color: #d97706;
  font-size: 14px;
  font-family: 'Roboto';
}

.next-question-button-container {
  align-self: flex-end;
}

.next-question-button {
  font-family: 'Roboto';
  font-size: 14px;
  color: #ffffff;
  background-color: #164687;
  padding: 8px 20px;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
}
